* {
  margin: 0px;
  padding: 0px;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  background-color: black;
  color: white;
}
.header > h3,
p {
  margin: 5px;
  padding-left: 5px;
}
p {
  font-size: 12px;
}
.details {
  display: flex;
  border: 1px solid black;
  height: 35px;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  padding-left: 10px;
}
.boxes {
  display: flex;
}
.add {
  margin: 10px 0px;
}
.editinput {
  border: none;
  width: 98%;
  padding: 10px;
}
.editinput:focus {
  outline: none;
}
.b1 {
  border: 1px solid black;
  color: white;
  background-color: blueviolet;
  height: 25px;
  width: 60px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.b1:hover {
  background-color: rgb(161, 69, 248);
}

@media only screen and (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .details {
    width: 90%;
    height: 30px;
  }
  .b1 {
    font-size: 14px;
    width: 60px;
    padding: 2px;
  }
}
